.App {
  text-align: center;
  background-color: #f0f0f0;
  padding: 50px;
  font-family: 'Arial', sans-serif;
}

h1 {
  color: #333;
  margin-bottom: 20px;
}

.dices {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.dice {
  font-size: 3rem;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
  background-color: #fff;
  border: 2px solid #333;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.roll-button,
.reroll-sixes-button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 10px;
}

.roll-button:hover,
.reroll-sixes-button:hover {
  background-color: #0056b3;
}
